<%- include('../includes/head.ejs') %>
   <link rel="stylesheet" href="/css/auth.css">
   <link rel="stylesheet" href="/css/forms.css">
   </head>

   <body>
      <%- include('../includes/navigation.ejs') %>
         <main>
            <form class="login-form" action="/login" method="POST" novalidate>
               <div class="form-control">
                  <label for="title">Email</label>
                  <input type="email" name="email" id="email" required placeholder="Your e-mail account" value="<%=oldValues.email%>"
                        class="<%=validationErrs.find(e => e.param === 'email') ? 'red' : ''%>">
               </div>
               <div class="form-control">
                  <label for="passwd">Password</label>
                  <input type="password" name="passwd" id="passwd" required 
                        class="<%=validationErrs.find(e => e.param === 'passwd') ? 'red' : ''%>">
               </div>
               <button class="btn" type="submit">Login</button>
               <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            </form>
            <p class="centered"><a href="/reset">Forgot my password!</a></p>
            <%if (errorMessage.length > 0) {%>
               <div class="user-message user-message--err">
                  <p><%-errorMessage%></p>
                  <p>Please, try again.</p>
               </div>
            <%}%>
         </main>
         <%- include('../includes/end.ejs') %>