<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <h1>Cesta de la compra</h1>

                <% if (cart.products.length>0) { %>
                    <ul class="cart__item-list">
                        <%cart.products.forEach (p=> {%>
                            <li class="cart__item">                                
                                <h1><%=p.productId.title%></h1>
                                <h2>Qty: <%=p.quantity%></h2>    
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" value="<%=p.productId._id%>" name="productId" />
                                    <button type="submit" class="btn">Delete</button>
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                                </form>
                            </li>
                        <%})%>
                    </ul>
                    <hr style="margin: 1rem;">
                    <div class="centered">
                       <a class="btn" href="/checkout">Checkout!</a>
                    </div>
                <% }else {%>
                    <h2>No has añadido ningún artículo en el carrito.</h2>
                <%}%>
            </main>
        <%- include('../includes/end.ejs') %>