<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <h1>Cesta de la compra</h1>

                <% if (cart) { %>
                    <ul class="cart__item-list">
                        <%cart.products.forEach (p=> {%>
                            <li class="cart__item">
                                <p><%=p.title%></p> <p>Qty: <%=p['carts-items'].quantity%></p>    
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" value="<%=p.id%>" name="productId" />
                                    <button type="submit" class="btn">Delete</button>
                                </form>
                            </li>
                        <%})%>
                    </ul>
                <% }else {%>
                    <h2>No has añadido ningún artículo en el carrito.</h2>
                <%}%>
            </main>
        <%- include('../includes/end.ejs') %>